# Archivos que NO se suben a GitHub

# Sistema
Thumbs.db
desktop.ini
.DS_Store

# Editores
.vscode/
.idea/

# Dependencias y compilados
node_modules/
build/
dist/
*.exe
*.log

# Datos privados (contraseñas, claves)
.env
